.pwmust {
    list-style-type: none;   
    margin-top: 45px;
}
.pwmustli {
    margin-left: -40px;
    list-style-type: none; 
}
.membinfo{
    text-align: center;
    margin-top: 40px;
 }
.membcolor{
    color: #F3F3F3;
}
.signup-hr {
    margin-top: 30px;
    background-color: #F3F3F3;
}
h5 .memb-works {
    margin-bottom: 20px;
 }
  .tandb {
    margin-left: -18px;
    margin-top: 10px;  
 }
 .signup-info {
     margin-top: 15px;
     margin-left: 4.5em;
 }
 .signup-info {
     input[type=text], input[type=password]{
     border-radius: 9px;
     width: 29vw;
     height: 40px;
     border: none;
     margin-bottom: 10px;
 }
}
 .signup-info label {
     margin-bottom: 0px;     
 }
.memb {
    margin-left: 75px;
    margin-top: 25px;
}
 
