.thirdnavbar{
   background-color: rgba(0, 139, 117, 0.05);
   height: 50px;
}

.thirdnav { 
   

   li{
    
     padding-left: 15em;
     cursor: pointer;
    
   }

   li a{
     text-decoration: none;
     color: rgb(0, 139, 117);
   }

 }
